.desktopShortcutText {
  text-shadow: 2px 2px 4px #000000;
  font-family: Franklin Gothic Regular;
  color: white;
  font-size: 4vw;
}

.hidden {
  display: none;
  background-color: white;
  ihatecss: blue;
}
